$cBlack: black;
$cWhite: White;


.mobile-menu-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;

    & > span{
        background-color: $cBlack;
        width: 35px;
        height: 2px;
        display: block;
        margin-bottom: 9px;
        transition: all 0.7s;

        &:last-child{
            margin-bottom: 0px;
        }

    }
}

.menu-open{
    background-color: $cBlack;
    transition: all 1s;

    & .mobile-menu-icon{
        & > span{
            background-color: $cWhite;

            &:nth-child(1){
                transition-delay: 70ms;
                transform: translateY(11px) rotate(135deg);
            }
            &:nth-child(2){
                transform: translateX(-18px) scaleX(0);
            }
            &:nth-child(3){
                transform: translateY(-11px) rotate(-135deg);
            }
        }
    }
}